@addTagHelper *, LazZiya.TagHelpers
@using TanpooshStore.Application.Services.Products.Queries.Dto
@model SiteProductPaginationDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6" style="background-color: rgb(246, 246, 246);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                    <h1 class="page-title">فروشگاه</h1>
                    <ul class="breadcrumb">
                        <li><a asp-controller="Home" class="text-danger">خانه</a></li>/
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-content-wrapper">
    <div class="shop-page-wrapper shop-fullwidth ptb--80">
        <div class="container">
            <div class="row mb--50">
                <div class="col-xl-12 mb-md--50 mb-xs--10">
                    <div class="shop-toolbar">
                        <div class="row align-items-center">
                            <div class="col-lg-4 mb-md--50 mb-xs--10">
                                <div class="row shop-toolbar__left d-flex align-items-sm-center align-items-start flex-sm-row flex-column">
                                    <div>
                                        <p class="product-pages">از 1 تا 20 نشان داده می شود :</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-lg-8">
                                <form class="dataTables_filter" method="get" style="text-align:right">
                                    <label>جستجو :<input type="text" name="searchKey" class="form-control input-sm" style="font-size:inherit"></label>
                                    <button type="submit" class="btn">جستجو</button>
                                </form>
                                <div class="product-ordering mb-xs--15 mr--50 mr-xs--0">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            مرتب سازی بر اساس :
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-controller="Products" asp-action="Index"
                                               asp-route-cateId="@Context.Request.Query["CateId"]" asp-route-searchKey="@Context.Request.Query["SearchKey"]"
                                               asp-route-ordering="NotOrdered">پیش فرض</a>
                                            <a class="dropdown-item" asp-controller="Products" asp-action="Index"
                                               asp-route-cateId="@Context.Request.Query["CateId"]" asp-route-searchKey="@Context.Request.Query["SearchKey"]"
                                               asp-route-ordering="MostVisited">پر بازدید ترین</a>
                                            <a class="dropdown-item" asp-controller="Products" asp-action="Index"
                                               asp-route-cateId="@Context.Request.Query["CateId"]" asp-route-searchKey="@Context.Request.Query["SearchKey"]"
                                               asp-route-ordering="MostPaid">پرفروش ترین</a>
                                            <a class="dropdown-item" asp-controller="Products" asp-action="Index"
                                               asp-route-cateId="@Context.Request.Query["CateId"]" asp-route-searchKey="@Context.Request.Query["SearchKey"]"
                                               asp-route-ordering="MostWished">محبوب ترین</a>
                                            <a class="dropdown-item" asp-controller="Products" asp-action="Index"
                                               asp-route-cateId="@Context.Request.Query["CateId"]" asp-route-searchKey="@Context.Request.Query["SearchKey"]"
                                               asp-route-ordering="MostNew">جدید ترین</a>
                                            <a class="dropdown-item" asp-controller="Products" asp-action="Index"
                                               asp-route-cateId="@Context.Request.Query["CateId"]" asp-route-searchKey="@Context.Request.Query["SearchKey"]"
                                               asp-route-ordering="MostExpensive">گران ترین</a>
                                            <a class="dropdown-item" asp-controller="Products" asp-action="Index"
                                               asp-route-cateId="@Context.Request.Query["CateId"]" asp-route-searchKey="@Context.Request.Query["SearchKey"]"
                                               asp-route-ordering="MostCheap">ارزان ترین</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-products grid container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="product-tab-content">
                        <div class="tab-pane fade show active" id="nav-all">
                            <div class="row xxl-block-grid-6 grid-space-20">
                                @{
                                    foreach (var item in Model.Products)
                                    {
                                        <div class="col-xl-3 col-md-4 col-sm-6 mb--50">
                                            <div class="zakas-product">
                                                <div class="product-inner">

                                                    <figure class="product-image">
                                                        <a asp-controller="Products" asp-action="Details" asp-route-productId="@item.Id">
                                                            <img src="~/@item.ImageSrc" style="width:270px;height:370px;">
                                                        </a>
                                                        <span class="product-badge">جدید</span>
                                                    </figure>
                                                    <div class="product-info">
                                                        <h3 class="product-title mb--15">
                                                            <a asp-controller="Products" asp-action="Details" asp-route-productId="@item.Id">@item.Title</a>
                                                        </h3>
                                                        <div class="product-price-wrapper mb--30">
                                                            <span class="money">@item.Price.ToString("n0")</span>
                                                        </div>
                                                        <a href="cart.html" class="btn btn-small btn-bg-sand btn-color-dark">افزودن به سبد خرید</a>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <nav class="pagination-wrap mt--35 mt-md--25">
                        <paging total-records="Model.RowCount"
                                page-no="Model.CurrentPage"
                                page-size="Model.PageSize"
                                show-prev-next="true"
                                show-total-pages="false"
                                show-total-records="false"
                                show-page-size-nav="true"
                                show-first-last="true"
                                query-string-key-page-no="page"
                                query-string-key-page-size="pageSize"
                                query-string-value="@@(Request.QueryString.Value)"
                                class-paging-control="pagination">
                        </paging>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

